! ****************************
! ****** X applications ******
! ****************************


Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

Xcursor.theme: Block
Xcursor.size: 12


! *********************
! ******  URXVT  ******
! *********************


! URxvt*.transparent: true
! URxvt*.shading: 60

! fonts
URxvt.xftAntialias: true
!URxvt.font: xft:DejaVu Sans Mono:pixelsize=14:style=Book
!URxvt.font: xft:terminus:size=13
URxvt.font: xft:monoOne:style=regular:size=14

URxvt.cursorBlink: true

! scrolling stuff
! use Shift+(Pg up/down) to scroll in the terminal. you can also use the mouse
! use Pg up/down to scroll the commands only. Just like arrow keys
! when viewing text files using `less`, use Pg up/down or arrow keys to scroll
! mouse scrolling is not enabled when viewing files with `less`
URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt.scrollWithBuffer: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0


! perl extensions for matching, url clicking, etc
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.iso14755: False
URxvt.insecure: false

! copy/paste shortcuts   *****  extension=clipboard
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:pasteq

! -----------------------------------------------------------------
! |font-size script: https://github.com/majutsushi/urxvt-font-size|
! -----------------------------------------------------------------
!URxvt.keysym.C-Up: perl:font-size:increase
!URxvt.keysym.C-Down: perl:font-size:decrease



! colors

*foreground: #D7D0C7
*background: #151515

!black
! *color0:     #AF875F
! *color8:     #AF875F
*color0:     #101010
*color8:     #404040
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #B8D68C
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #7DC1CF
*color12:    #4E9FB1
!magenta
*color5:     #9B64FB
*color13:    #8542FF
!cyan
*color6:     #6D878D
*color14:    #42717B
!white
*color7:     #dddddd
*color15:    #dddddd

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515
